<h1>Popularity of job skills</h1>

<p> Choose which location you want the search results to be from </p>

<select id='dropdown_location_select' (change)='funcOnChangeJobSpecificGraph();' [(ngModel)]="selectedLocation">
<option *ngFor='let location of all_locations'>
    {{ location }}
</option>
</select>

<p> Choose what type you want to search </p>

<select id='dropdown_types_select' (change)='funcOnChangeJobSpecificGraph();' [(ngModel)]="selectedSkillType">
<option *ngFor='let skill of all_skill_types'>
    {{ skill }}
</option>
</select>

<p> Select how many results you want to be displayed. If you type 10 it will display the top 10; if you type 20 it will display the top 20; if you type a non-number it will just display 10 results. Press enter when you want to change the value.</p>

<p>Number of max results displayed:<input type="text" id="number_results_to_display"  (change)='funcOnChangeJobSpecificGraph();' [(ngModel)]="selectedAmount"></p>

<p> This is a chart of the most popular skills for this city you have selected</p>

<google-chart [data]="dataAllJobs"></google-chart>

<p> Choose what job you want to search on here and then see the graph show you what skills are also associated with the skill your interessted in</p>

<select id='dropdown_types_select' (change)='funcOnChangeJobSpecificGraph();' [(ngModel)]="selectedSkill">
<option *ngFor='let skill of all_skills'>
    {{ skill }}
</option>
</select>

<p> This is a chart of the most popular skills in the jobs that also contain the skill you have selected. There are {{ total_data_count }} which match this criteria.

<google-chart [data]="jobData"></google-chart>
